{% extends 'base.html' %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us......</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to Django Ecommerce</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify"> <br><br/>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget imperdiet libero, sit amet tempor neque. Ut dapibus est eu sollicitudin cursus. In laoreet diam at dolor feugiat gravida. Sed id odio eu nisi congue aliquet. Pellentesque tempus dolor sed lacus condimentum condimentum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla eget scelerisque nibh. Aliquam ullamcorper ut sapien in efficitur. Donec lacinia urna tortor, sed mollis arcu suscipit ac. Nam laoreet blandit mi vitae luctus. Nunc feugiat ornare justo, eu venenatis ipsum vulputate eget. Pellentesque pretium tristique arcu non porttitor. In accumsan ullamcorper nisi, quis sodales orci sagittis sed. Donec pulvinar urna dolor, id fringilla diam consequat non. Mauris cursus facilisis lorem. Vestibulum ac convallis purus.
                    <br><br/>
                    Nunc dictum semper magna, auctor vestibulum nunc gravida sagittis. Sed ac porta purus, eget egestas odio. Aenean venenatis dapibus dui, id interdum leo imperdiet sed. Cras porta nulla eu purus viverra tincidunt. Vivamus pellentesque, ipsum eget tincidunt varius, sapien quam molestie augue, sit amet mattis enim libero sit amet nibh. Integer fermentum sit amet justo eu mattis. Donec sit amet mauris luctus, suscipit lectus eget, laoreet nisi. Vivamus tincidunt odio quis nibh egestas, vitae luctus ex iaculis. Proin non fermentum leo. In hac habitasse platea dictumst. Duis id mattis ex. Phasellus egestas pellentesque ultricies. Nunc tempor cursus tellus, vitae vehicula enim. Aenean quis consequat ipsum, eu laoreet massa. Donec vitae justo nisi.
                    <br><br/>
                    Curabitur dignissim nisl eget orci fermentum, eu porttitor lectus mattis. Maecenas molestie mi vitae ultrices faucibus. Duis tincidunt urna ac lectus tincidunt eleifend. Quisque a risus vitae orci varius gravida ultricies eu turpis. Nulla facilisi. In euismod ut velit ac scelerisque. Nunc eu luctus neque. Vivamus interdum fringilla magna at egestas.
                    <br><br/>
                    Praesent ornare ac dui eget tempor. In facilisis, arcu et viverra imperdiet, nunc velit condimentum nisl, rhoncus dapibus mi odio non lorem. Aenean mattis erat ligula, et viverra ipsum condimentum vel. Donec vitae velit semper, faucibus justo eu, fringilla leo. Sed rhoncus imperdiet erat ut varius. Vestibulum malesuada volutpat massa, quis eleifend lectus vestibulum eget. Pellentesque eu mi a turpis blandit consequat. Donec quis tempus quam. Donec in velit vitae enim consequat porta.<br><br/></p>
            </div>
        </center>
    </div>
</div>


{% endblock %}
