{% extends 'base.html' %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">You can login here.......</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to Django Ecommerce</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">
                    <form method="POST" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                          <input type="text" class="form-control" name="username" placeholder="Enter your name">
                        </div>
                        <div class="mb-3">
                          <input type="password" class="form-control" name="password" placeholder="Enter your password">
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Login</button>
                      </form>
                        {% for message in messages %}
                            
                            <div class="alert alert-warning" role="alert">
                                {{message}}
                            </div>
                        {% endfor %}
                </p>
        </center>
    </div>
</div>


{% endblock %}





























