{% extends 'base.html' %}
{% load static %}
{% block content %}
        
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shopping Cart</h1>
            <p class="lead fw-normal text-white-50 mb-0">view your cart here.</p>
        </div>
    </div>
</header>

<br><br/>
<div class="container">
    {% if cart_products %}
        {% for product in cart_products %}
        <div class="row">
            <center>
                <div class="col-8">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="Product Image">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ product.name }}</h5>
                                    <p class="card-text">{{ product.description }}</p>
                                    {% if product.on_sale %}
                                        <strike>${{ product.price }}</strike> ${{ product.sale_price }}
                                    {% else %}
                                        ${{ product.price }}
                                    {% endif %}

                                    <div class="row justify-content-center align-items-center mt-3">
                                        <!-- Label for Quantity -->
                                        <div class="col-auto">
                                            <label for="quantity" class="form-label">Quantity:</label>
                                        </div>
                                        <!-- Dropdown -->
                                        <div class="col-auto">
                                            <select class="form-select form-select-sm" id="select{{product.id}}">
                                                <option selected>
                                                    {% for key,value in quantities.items%}
                                                        {% if key == product.id|slugify %}
                                                            {{value}}
                                                        {%endif%}
                                                    {% endfor %}
                                                </option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- <p>ID: {{ product.id }}</p> -->
                                    <br><br/>                                      
                                    <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
                                    <button type="button" data-index="{{product.id}}" class="btn btn-secondary update-cart">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </center>
        </div>
        {% endfor %}
    {% else %}
    There is nothing in the Cart........
    <br><br/><br><br/><br><br/><br><br/><br><br/><br><br/>
    {% endif %}

</div>

        


    <script>
        console.log("JavaScript loaded!");
        $(document).ready(function() {
            // Handle Add to Cart button click. 
            // Since update-cart is a class use . instead of # ie .update-cart
            $(document).on('click', '.update-cart', function(e) {
                e.preventDefault();
                
                var productid = $(this).data('index');

                // Show in console when clicked
                console.log("Update button clicked for product ID:", productid);
                // Make the AJAX request
                $.ajax({
                    type: 'POST',
                    url: '{% url "cart_update" %}',
                    data: {
                        product_id: $(this).data('index'),
                        product_qty:$('#select' + productid + ' option:selected').text(),
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        action: 'post'
                    },
                    success: function(json) {
                        // Log response in the console
                        
                    console.log("Update button clicked and response received:", json);
                    location.reload();
                    },
                    error: function(xhr, errmsg, err) {
                        console.error('Error:', errmsg);
                    }
                });
            });
        });
    </script>

{% endblock %}